@import 'variables';

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: $background-colour;
    color: $text-colour;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

h1 {
    font-size:1.6em;
    text-decoration: underline;
    color:$primary-colour;
}

table {
    border:1px solid  $text-light-colour;
    border-collapse: collapse;     
}

 table td, table th {
    padding:0.2em 0.5em;   
    border:1px solid  $text-light-colour;
    border-collapse: collapse;
}

table th {
    color: $text-light-colour;      
}
